@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    background: rgb(59, 62, 71);
    color: white;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}
header {
    background: #3e4349a4;
    padding: 20px;
    font-weight: 300;
    font-size: 25px;
    color: aliceblue;
}
.topNav {
	
}
.topNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.topNav li {
	display: inline;
	
}
.topNav a {
    text-decoration: none;
    text-align: center;
}
.tTest {
    font-weight: 500;
	color: aliceblue;
    font-size: 32px;
    float: right;
	margin-left: 8%;
	margin-right: 16%;
}
#main {
	color: #505d84;
}
#main:hover {
	color: #728ad4;
}
.tTest:hover {
	color: #728ad4;
}