@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    background: rgb(59, 62, 71);
    color: white;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}

/* Below is nav bar css */
header {
    background: #3e4349a4;
    padding: 20px;
    font-weight: 300;
    font-size: 25px;
    color: aliceblue;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

}
.flex-container div {
	font-weight: 500;
    font-size: 27px;
    color: aliceblue;
	padding: auto;
	margin: 3px 25px;
}
a:link{
  text-decoration: none!important;
}
#main {
	color: #505d84;
}
#main:hover {
	color: #728ad4;
}
#lowerC {
	padding-right:	35px;
}
.flex-container div:hover {
	color: #728ad4;
}
.text-aliceblue a {
	color: aliceblue;
	font-weight: 400;
	font-size: 25px
}
.text-aliceblue a:hover {
	color: #728ad4;
}
/* Below is the box of lorem ipsum */
.loremBox {
	background-color: #32353a;
	font-family: 'Inconsolata', monospace;
	padding: 7px 20px;
	font-size: 18px;
	color: #505d84;
	line-height: 1.3;
}

/* Below is the images/art 
425, 283*/
/*imgFlex {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	height: 283px;
	padding-bottom: 50px;
	padding-top : 50px;
}
.imgFlex img {
	margin-left: 80px;
	margin-right: 80px;
}
#imgG {
	background-color: #3e4349;
	padding: 20px;
	border-radius: 10px;
}
#imgQ {
	background-color: #728ad4;
	padding: 20px;
	border-radius: 10px;
}*/
/*#3e4349*/
/**/
/*.bGround {
	color: #3e4349a4;
}
#slideshow {
	position: relative;
}
#slideshow div {
	/*position: absolute;
	width: 100px;
	position: relative;
}
#slideshow img {
	/*margin-left: 750px!important;
	position: absolute;
}*/
.carousel-inner img {
	width: 40%;
}
#rocketA {
	width:26%;
}
#octopusA {
	width:31%;
}
#sandwormA {
	width:35%;
}
#caliCatA {
	width:31%;
}